-# =@brand.name
-# =@brand.country
-# =@brand.since
-# =image_tag @brand.image_url(:thumb), class: 'img-fluid'
-#
-# =link_to "一覧に戻る", brands_path
-# =link_to "編集する", edit_brand_path(@brand)
-# =link_to "削除する", brand_path(@brand), method: :delete, data: {confirm: "削除しますか？"}

.container
  .row.product-page
    #content.col-sm-12
      .row
        .col-sm-7
          %ul.thumbnails
            %li
              =image_tag @brand.image_logo_url(:logo), class: 'img-responsive'
            -(1..3).each do |i|
              %li
                =link_to @brand.try("image#{i}_url", :large), class: 'thumbnail' do
                  =image_tag @brand.try("image#{i}_url", :thumb), class: 'img-responsive'
              -# %a.thumbnail{:href => "/img/image_holder_x800.png", :title => ""}
              -#   %img.img-responsive{:alt => "", :src => "/img/image_holder_x800.png", :title => ""}/
            -# %li
            -#   %a.thumbnail{:href => "/img/image_holder_x800.png", :title => ""}
            -#     %img.img-responsive{:alt => "", :src => "/img/image_holder_x800.png", :title => ""}/
            -# %li
            -#   %a.thumbnail{:href => "/img/image_holder_x800.png", :title => ""}
            -#     %img.img-responsive{:alt => "", :src => "/img/image_holder_x800.png", :title => ""}/
            -# %li
            -#   %a.thumbnail{:href => "/img/image_holder_x800.png", :title => ""}
            -#     %img.img-responsive{:alt => "", :src => "/img/image_holder_x800.png", :title => ""}/
        .col-sm-5
          %ul.breadcrumb
            %li
              %a{:href => "/"}
                %i.icon.ion-ios-home-outline
            %li
              =link_to "Brands", owner_brands_path
            %li
              =@brand.name
          %h1=@brand.name
          .table-responsive
            %table.table
              %tr
                %td Country:
                %td=@brand.country

              %tr
                %td Since:
                %td=@brand.since
              %tr
                %td Description:
                %td=@brand.description
              %tr
                %td HP URL:
                %td
                  =link_to @brand.hp_url, @brand.hp_url, target: "_blank"
                -# %%td
                -#   %a#reviews{:href => ""} 2 reviews

          .form-group
            %br/
            =link_to edit_owner_brand_path(@brand) do
              %button#button-cart.btn.btn-lg.btn-primary.btn-block{"data-loading-text" => "Loading...", :type => "button"} Edit

          .form-group
            %br/
            =link_to owner_brand_path(@brand), method: :delete, data: {confirm: "Delete OK？"} do
              %button#button-cart.btn.btn-lg.btn-default.btn-block{"data-loading-text" => "Loading...", :type => "button"} Delete from Index

          .form-group
            %br/
            =link_to new_owner_shop_path do
              %button#button-cart.btn.btn-lg.btn-success.btn-block{"data-loading-text" => "Loading...", :type => "button"} Add Shop

          -# -else
          -#   .form-group
          -#     -# %label.control-label{:for => "input-quantity"} Qty
          -#     -# %input#input-quantity.form-control{:name => "quantity", :size => "2", :type => "text", :value => "1"}/
          -#     %br/
          -#     ※If you want to add to my page, you need to log in ↓
          -#     %br
          -#     =link_to new_user_session_path do
          -#       %button#button-cart.btn.btn-lg.btn-primary.btn-block{"data-loading-text" => "Loading...", :type => "button"} Log in


  / Related Products
  -if @brand.shops.present?
    %h3 Retail Shops
    .row
      / Product Item
      -@brand.shops.each do |shop|
        .product-layout.product-grid.col-xs-6.col-sm-4.col-md-3
          .product-thumb
            %figure
              .image
                =link_to  owner_shop_path(shop) do
                  =image_tag shop.image_url(:thumb), class: 'img-responsive'
              %figcaption
                .name=shop.name
