%br
%br
%br
%br
-@shops.each do|shop|
  ="Name："
  =link_to shop.name, shop_path(shop)
  %br
  ="Brand"
  =link_to shop.brand.name, brand_path(shop.brand)
  %br
  ="Address："
  =shop.address
  %br
  -# ="Since："
  -# =brand.since
  -# %br
  -# ="Description："
  -# =brand.description
  -# %br
  -# ="HP URL："
  -# =brand.hp_url
  -# %hr

=link_to "New Shop", new_shop_path
