.container.showcase
  .row
    .col-sm-6
      %h1 ＜Admin Page＞
      .buttons.clearfix
        =link_to "new site", new_owner_shop_path, class: "btn btn-info"
      -@shops.each do|shop|
        %br
        ="Name："
        =link_to shop.name, shop_path(shop)
        %br
        ="Brand"
        =link_to shop.brand.name, brand_path(shop.brand)
        %br
        ="Address："
        =shop.address
        %br
        -# ="Since："
        -# =brand.since
        -# %br
        -# ="Description："
        -# =brand.description
        -# %br
        -# ="HP URL："
        -# =brand.hp_url
        -# %hr

      =link_to "New Shop", new_shop_path
%br
%br
%br
%br
%br
%br
%br
%br
%br
