.container
  %ul.breadcrumb
    %li
      %a{:href => "/"}
        %i.icon.ion-ios-home-outline
    %li
      About Us
  .row
    #content.col-sm-12
      %h1 About Us
      .panel.panel-default
        .panel-heading
          %h3.panel-title Our Information
        .panel-body
          .row
            .col-sm-3
              %img.img-thumbnail{:alt => "", :src => "/img/about_pic8.jpg", :title => ""}/
            .col-sm-3
              %strong World Brands+
              %br/
              %address
                Toronto, Ontario
                %br/
                Canada
            .col-sm-3
              %strong Contact
              =link_to "worldbrands777@gmail.com", new_contact_path
            .col-sm-3
              %strong Business hours
              %br/
              Monday - Fridey
              %br/
              9am - 6pm
          .row
            .col-sm-12
              %br
              %strong【Comment】
              %br/
              %p Welcome to World Brands+, this site is the platform for searching fashion brands around the world. You can also group your favorite brands on My Page and check the websites and shops of those brands at any time.
              %p If you have a brand you would like to see listed on this site, please contact us using the contact form.
