-# -@info_sites.each do|info_site|
-#   ="Name："
-#   =link_to info_site.name, info_site_path(info_site)
-#   %br
-#   ="URL："
-#   =info_site.url
-#   %hr
-#
-# =link_to "New Site", new_info_site_path

.container
  %ul.breadcrumb
    %li
      %a{:href => "/"}
        %i.icon.ion-ios-home-outline
    %li
      Info Sites (admin)
  .row
    #content.col-sm-12
      %h1 ＜Admin Page＞
      .buttons.clearfix
        .pull-right
          =link_to "new site", new_owner_info_site_path, class: "btn btn-info"
      %br
      %br
      %table.table
        %thead
          %tr
            %td.text-center
            %td.text-left Name
            %td.text-left URL
            %td.text-right For
            %td.text-left Description
            %td.text-left
        -@info_sites.each do |info_site |
          %tbody
            %tr
              %td.text-center
                =image_tag info_site.image_url(:small)
                -# =link_to info_site.url, target: "_blank" do
                -#   =image_tag info_site.image_url(:small)
                %td.text-left=link_to info_site.name, info_site.url, target: "_blank"
                %td.text-left=link_to info_site.url, info_site.url, target: "_blank"
                %td.text-right=info_site.for
                %td.text-left=info_site.description
                %td.text-right
                  .buttons.clearfix
                    .pull-right
                      =link_to "Edit", edit_owner_info_site_path(info_site), class: "btn btn-primary"
                  .buttons.clearfix
                    .pull-right
                      =link_to "Delete", owner_info_site_path(info_site), method: :delete, data: {confirm: "Delete OK？"}, class: "btn btn-default"

                      -# %a.btn.btn-primary{:href => "#"} Register to MyPage
                  -# -else
                  -#   .buttons.clearfix
                  -#     .pull-right
                  -#       =link_to "login", new_user_session_path, class: "btn btn-primary"
