=@info_site.name
=@info_site.url

=link_to "一覧に戻る", owner_info_sites_path
=link_to "編集する", edit_owner_info_site_path(@info_site)
=link_to "削除する", owner_info_site_path(@info_site), method: :delete, data: {confirm: "削除しますか？"}
