.container
  %ul.breadcrumb
    %li
      %a{:href => "/"}
        %i.icon.ion-ios-home-outline
    %li
      Contact Us
  .row
    #content.col-sm-12
      %h1 Contact Us
      %br/
      .panel.panel-default
        .panel-heading
          %h3.panel-title Contact Form
        .panel-body
          %form.form-horizontal
            %fieldset
              .form-group.required
                %label.col-sm-2.control-label{:for => "input-name"} Your Name
                .col-sm-10
                  %input#input-name.form-control{:name => "name", :type => "text", :value => ""}/
              .form-group.required
                %label.col-sm-2.control-label{:for => "input-email"} Email 
                .col-sm-10
                  %input#input-email.form-control{:name => "email", :type => "text", :value => ""}/
              .form-group.required
                %label.col-sm-2.control-label{:for => "input-inquiry"} Inquiry
                .col-sm-10
                  %textarea#input-enquiry.form-control{:name => "inquiry", :rows => "10"}
            .buttons
              .pull-right
                %input.btn.btn-primary{:type => "submit", :value => "Submit"}/
