="#{@contact.user_name}様"
%br
この度はお問い合わせありがとうございます。お問い合わせ内藤は以下の通りで承りました。
%br
ーーーーーーーーーーーーーーーーーーーーーーーーー
=@contact.inquiry
ーーーーーーーーーーーーーーーーーーーーーーーーー
%br
回答につきましては、1週間以内にさせていただきます。
%br
今後ともどうぞよろしくお願いいたします。

サイトURL
