-# -@brands.each do|brand|
-#   ="Name："
-#   =link_to brand.name, brand_path(brand)
-#   %br
-#   ="Country："
-#   =brand.country
-#   %br
-#   ="Since："
-#   =brand.since
-#   %br
-#   ="Description："
-#   =brand.description
-#   %br
-#   ="HP URL："
-#   =brand.hp_url
-#   %hr
-#
-# =link_to "New Brand", new_brand_path


%nav.side-nav.side-nav-left
  %h2
    %a{:href => "#"} Rh+
  %ul.list-unstyled
    %li
      %a{:href => "#"} Dresses
    %li
      %a{:href => "#"} Shirts & Tops
    %li
      %a{:href => "#"} Jeans
    %li
      %a{:href => "#"} Swimwear
    %li
      %a{:href => "#"} Coats & Jackets
    %li
      %a{:href => "#"} Sunglasses & Eyewear
    %li
      %a{:href => "#"} Accessories
    %li
      %a{:href => "#"} Jewelry
.site-overlay
.wrapper
  %header
    .container-fluid
      .row
        .col-sm-12
          .menu.pull-left{"data-placement" => "bottom", "data-toggle" => "tooltip", :title => "Menu"}
            %i.icon.ion-ios-more
          .account.pull-right
            %ul.list-inline
              %li.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                  %i.icon.ion-ios-person-outline{"data-placement" => "bottom", "data-toggle" => "tooltip", :title => "My Account"}
                %ul.dropdown-menu.dropdown-menu-right.text-center
                  %li.dropdown-triangle
                  %li
                    %a{:href => "#"} Register
                  %li
                    %a{:href => "#"} Login
          .search.pull-right
            .btn-group
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                %i.icon.ion-ios-search-strong{"data-container" => "body", "data-placement" => "bottom", "data-toggle" => "tooltip", :title => "Search"}
              %ul.dropdown-menu.pull-right
                %li.dropdown-triangle
                %li
                  .input-group
                    %input.form-control{:name => "search", :type => "text", :value => ""}/
                    .input-group-btn
                      %button.btn.btn-default{:type => "button"} Search
          .shopping-bag.pull-right
            .btn-group
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                %i.icon.ion-bag{"data-container" => "body", "data-placement" => "bottom", "data-toggle" => "tooltip", :title => "Shopping Bag"}
                %strong.counter 0
              %ul.dropdown-menu.pull-right
                %li.dropdown-triangle
                %li
                  %p.empty.text-center Your shopping cart is empty!
  / Slideshow
  .container-fluid.nopadding
    .row
      .col-sm-12
        #slideshow.owl-carousel{:style => "opacity: 1;"}
          .item
            %a{:href => "#"}
              %img{:alt => "", :src => "assets/img/image_holder_1500x698.png"}/
          .item
            %a{:href => "#"}
              %img{:alt => "", :src => "assets/img/image_holder_1500x698.png"}/
          .item
            %a{:href => "#"}
              %img{:alt => "", :src => "assets/img/image_holder_1500x698.png"}/
  / / Slideshow
  .container.showcase
    .row
      .product-grid.col-xs-6.col-sm-3
        .product-thumb{"data-sr" => ""}
          %figure
            .image
              %a{:href => "#"}
                %img.img-responsive{:alt => "", :src => "assets/img/image_holder_x263.png", :title => ""}/
            %figcaption
              .name
                %a{:href => "#"} Oversized Shirt
              .price
                $122.00
      .product-grid.col-xs-6.col-sm-3
        .product-thumb{"data-sr" => ""}
          %figure
            .image
              %a{:href => "#"}
                %img.img-responsive{:alt => "", :src => "assets/img/image_holder_x263.png", :title => ""}/
            %figcaption
              .name
                %a{:href => "#"} Oversized Shirt
              .price
                $122.00
      .product-grid.col-xs-6.col-sm-3
        .product-thumb{"data-sr" => ""}
          %figure
            .image
              %a{:href => "#"}
                %img.img-responsive{:alt => "", :src => "assets/img/image_holder_x263.png", :title => ""}/
            %figcaption
              .name
                %a{:href => "#"} Oversized Shirt
              .price
                $122.00
      .product-grid.col-xs-6.col-sm-3
        .product-thumb{"data-sr" => ""}
          %figure
            .image
              %a{:href => "#"}
                %img.img-responsive{:alt => "", :src => "assets/img/image_holder_x263.png", :title => ""}/
            %figcaption
              .name
                %a{:href => "#"} Oversized Shirt
              .price
                $122.00
    .row
      .col-xs-12.col-sm-3
        .row
          .product-grid.col-xs-6.col-sm-12
            .product-thumb{"data-sr" => ""}
              %figure
                .image
                  %a{:href => "#"}
                    %img.img-responsive{:alt => "", :src => "assets/img/image_holder_x263.png", :title => ""}/
                %figcaption
                  .name
                    %a{:href => "#"} Oversized Shirt
                  .price
                    $122.00
        .row
          .product-grid.col-xs-6.col-sm-12
            .product-thumb{"data-sr" => ""}
              %figure
                .image
                  %a{:href => "#"}
                    %img.img-responsive{:alt => "", :src => "assets/img/image_holder_x263.png", :title => ""}/
                %figcaption
                  .name
                    %a{:href => "#"} Oversized Shirt
                  .price
                    $122.00
      .product-grid.col-xs-12.col-sm-9
        .product-thumb{"data-sr" => ""}
          .image
            %a{:href => "#"}
              %img.img-responsive{:alt => "", :src => "assets/img/image_holder_848x559.png"}/
    .row
      .product-grid.col-xs-6.col-sm-3
        .product-thumb{"data-sr" => ""}
          %figure
            .image
              %a{:href => "#"}
                %img.img-responsive{:alt => "", :src => "assets/img/image_holder_x263.png", :title => ""}/
            %figcaption
              .name
                %a{:href => "#"} Oversized Shirt
              .price
                $122.00
      .product-grid.col-xs-6.col-sm-3
        .product-thumb{"data-sr" => ""}
          %figure
            .image
              %a{:href => "#"}
                %img.img-responsive{:alt => "", :src => "assets/img/image_holder_x263.png", :title => ""}/
            %figcaption
              .name
                %a{:href => "#"} Oversized Shirt
              .price
                $122.00
      .product-grid.col-xs-6.col-sm-3
        .product-thumb{"data-sr" => ""}
          %figure
            .image
              %a{:href => "#"}
                %img.img-responsive{:alt => "", :src => "assets/img/image_holder_x263.png", :title => ""}/
            %figcaption
              .name
                %a{:href => "#"} Oversized Shirt
              .price
                $122.00
      .product-grid.col-xs-6.col-sm-3
        .product-thumb{"data-sr" => ""}
          %figure
            .image
              %a{:href => "#"}
                %img.img-responsive{:alt => "", :src => "assets/img/image_holder_x263.png", :title => ""}/
            %figcaption
              .name
                %a{:href => "#"} Oversized Shirt
              .price
                $122.00
    .row
      .product-grid.col-xs-12.col-sm-9
        .product-thumb{"data-sr" => ""}
          .image
            %a{:href => "#"}
              %img.img-responsive{:alt => "", :src => "assets/img/image_holder_848x559.png"}/
      .col-xs-12.col-sm-3
        .row
          .product-grid.col-xs-6.col-sm-12
            .product-thumb{"data-sr" => ""}
              %figure
                .image
                  %a{:href => "#"}
                    %img.img-responsive{:alt => "", :src => "assets/img/image_holder_x263.png", :title => ""}/
                %figcaption
                  .name
                    %a{:href => "#"} Oversized Shirt
                  .price
                    $122.00
        .row
          .product-grid.col-xs-6.col-sm-12
            .product-thumb{"data-sr" => ""}
              %figure
                .image
                  %a{:href => "#"}
                    %img.img-responsive{:alt => "", :src => "assets/img/image_holder_x263.png", :title => ""}/
                %figcaption
                  .name
                    %a{:href => "#"} Oversized Shirt
                  .price
                    $122.00
    .row
      .product-grid.col-xs-6.col-sm-3
        .product-thumb{"data-sr" => ""}
          %figure
            .image
              %a{:href => "#"}
                %img.img-responsive{:alt => "", :src => "assets/img/image_holder_x263.png", :title => ""}/
            %figcaption
              .name
                %a{:href => "#"} Oversized Shirt
              .price
                $122.00
      .product-grid.col-xs-6.col-sm-3
        .product-thumb{"data-sr" => ""}
          %figure
            .image
              %a{:href => "#"}
                %img.img-responsive{:alt => "", :src => "assets/img/image_holder_x263.png", :title => ""}/
            %figcaption
              .name
                %a{:href => "#"} Oversized Shirt
              .price
                $122.00
      .product-grid.col-xs-6.col-sm-3
        .product-thumb{"data-sr" => ""}
          %figure
            .image
              %a{:href => "#"}
                %img.img-responsive{:alt => "", :src => "assets/img/image_holder_x263.png", :title => ""}/
            %figcaption
              .name
                %a{:href => "#"} Oversized Shirt
              .price
                $122.00
      .product-grid.col-xs-6.col-sm-3
        .product-thumb{"data-sr" => ""}
          %figure
            .image
              %a{:href => "#"}
                %img.img-responsive{:alt => "", :src => "assets/img/image_holder_x263.png", :title => ""}/
            %figcaption
              .name
                %a{:href => "#"} Oversized Shirt
              .price
                $122.00
  %footer
    .container-fluid
      .row
        .col-sm-2
          .btn-group.dropup.info
            %button.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
              %i.icon.ion-ios-information-outline
              %span Information
            %ul.dropdown-menu.pull-right
              %li.dropdown-triangle
              %li
                %a{:href => "#"} About Us
              %li
                %a{:href => "#"} Delivery Information
              %li
                %a{:href => "#"} Privacy Policy
              %li
                %a{:href => "#"} Terms & Conditions
        .col-sm-2
          .btn-group.dropup.service
            %button.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
              %i.icon.ion-ios-people-outline
              %span Customer Service
            %ul.dropdown-menu.pull-right
              %li.dropdown-triangle
              %li
                %a{:href => "#"} Contact Us
              %li
                %a{:href => "#"} Returns
              %li
                %a{:href => "#"} Site Map
        .col-sm-2
          .btn-group.dropup.extra
            %button.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
              %i.icon.ion-ios-flask-outline
              %span Extras
            %ul.dropdown-menu.pull-right
              %li.dropdown-triangle
              %li
                %a{:href => "#"} Brands
              %li
                %a{:href => "#"} Gift Vouchers
              %li
                %a{:href => "#"} Affiliates
              %li
                %a{:href => "#"} Specials
        .col-sm-2
          .btn-group.dropup.user-account
            %button.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
              %i.icon.ion-ios-person-outline
              %span My Account
            %ul.dropdown-menu.pull-right
              %li.dropdown-triangle
              %li
                %a{:href => "#"} My Account
              %li
                %a{:href => "#"} Order History
              %li
                %a{:href => "#"} Wishlist
              %li
                %a{:href => "#"} Newsletter
        .col-sm-2
          .btn-group.dropup.social
            %button.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
              %i.icon.ion-ios-world-outline
              %span Social
            %ul.dropdown-menu.pull-right
              %li.dropdown-triangle
              %li
                %a{:href => "https://www.facebook.com/"} Facebook
              %li
                %a{:href => "https://twitter.com/"} Twitter
              %li
                %a{:href => "https://www.pinterest.com/"} Pinterest
              %li
                %a{:href => "https://plus.google.com/"} Google Plus
              %li
                %a{:href => "https://github.com/"} Github
              %li
                %a{:href => "skype:******?call"} Skype
        .col-sm-2
          .btn-group.dropup.powered
            %button.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
              %i.icon.ion-ios-bolt-outline
              %span Powered
            %ul.dropdown-menu.pull-right
              %li.dropdown-triangle
              %li
                %a{:href => "http://themefiber.com/"} Design by ThemeFiber
              %li
                %a{:href => "http://opencart.com/"} Powered by OpenCart
