-# -@brands.each do|brand|
-#   ="Name："
-#   =link_to brand.name, brand_path(brand)
-#   %br
-#   ="Country："
-#   =brand.country
-#   %br
-#   ="Since："
-#   =brand.since
-#   %br
-#   ="Description："
-#   =brand.description
-#   %br
-#   ="HP URL："
-#   =brand.hp_url
-#   %hr
-#
-# =link_to "New Brand", new_brand_path



/ Slideshow
.container-fluid.nopadding
  .row
    .col-sm-12
      #slideshow.owl-carousel{:style => "opacity: 1;"}
        .item
          %a{:href => "#"}
            %img{:alt => "", :src => "assets/img/image_holder_1500x698.png"}/
        .item
          %a{:href => "#"}
            %img{:alt => "", :src => "assets/img/image_holder_1500x698.png"}/
        .item
          %a{:href => "#"}
            %img{:alt => "", :src => "assets/img/image_holder_1500x698.png"}/
/ / Slideshow
-# .container.showcase
-#   .row
-#     -@brands.each do |brand|
-#       .product-grid.col-xs-6.col-sm-3
-#         .product-thumb{"data-sr" => ""}
-#           %figure
-#             =link_to brand_path(brand), class: "item-wrap fancybox" do
-#               .image
-#                 -# %h3=brand.name
-#                 -# %span=brand.country
-#               -if brand.image.present?
-#                 =image_tag brand.image_url, class: 'img-responsive'
-#               -else
-#                 %img.img-fluid{:src => "assets/img/image_holder_x263.png"}/
-#               %figcaption
-#                 .name
-#                   %a{:href => "#"}=brand.name
-#                 .price
-#                   =brand.country

.container.showcase
  .row
    -@brands.each do |brand|
      .product-grid.col-xs-6.col-sm-3
        .product-thumb{"data-sr" => ""}
          %figure
            .image
              =link_to brand_path(brand) do
                =image_tag brand.image_logo_url(:logo), class: 'img-responsive'
            %figcaption
              .name
                =link_to brand.name, brand_path(brand)
                -# %a{:href => "#"} Oversized Shirt
              .price
                =brand.country
    .product-grid.col-xs-6.col-sm-3
      .product-thumb{"data-sr" => ""}
        %figure
          .image
            %a{:href => "#"}
              %img.img-responsive{:alt => "", :src => "assets/img/image_holder_x263.png", :title => ""}/
          %figcaption
            .name
              %a{:href => "#"} Oversized Shirt
            .price
              $122.00
    .product-grid.col-xs-6.col-sm-3
      .product-thumb{"data-sr" => ""}
        %figure
          .image
            %a{:href => "#"}
              %img.img-responsive{:alt => "", :src => "assets/img/image_holder_x263.png", :title => ""}/
          %figcaption
            .name
              %a{:href => "#"} Oversized Shirt
            .price
              $122.00
    .product-grid.col-xs-6.col-sm-3
      .product-thumb{"data-sr" => ""}
        %figure
          .image
            %a{:href => "#"}
              %img.img-responsive{:alt => "", :src => "assets/img/image_holder_x263.png", :title => ""}/
          %figcaption
            .name
              %a{:href => "#"} Oversized Shirt
            .price
              $122.00
  .row
    .col-xs-12.col-sm-3
      .row
        .product-grid.col-xs-6.col-sm-12
          .product-thumb{"data-sr" => ""}
            %figure
              .image
                %a{:href => "#"}
                  %img.img-responsive{:alt => "", :src => "assets/img/image_holder_x263.png", :title => ""}/
              %figcaption
                .name
                  %a{:href => "#"} Oversized Shirt
                .price
                  $122.00
      .row
        .product-grid.col-xs-6.col-sm-12
          .product-thumb{"data-sr" => ""}
            %figure
              .image
                %a{:href => "#"}
                  %img.img-responsive{:alt => "", :src => "assets/img/image_holder_x263.png", :title => ""}/
              %figcaption
                .name
                  %a{:href => "#"} Oversized Shirt
                .price
                  $122.00
    .product-grid.col-xs-12.col-sm-9
      .product-thumb{"data-sr" => ""}
        .image
          %a{:href => "#"}
            %img.img-responsive{:alt => "", :src => "assets/img/image_holder_848x559.png"}/
  .row
    .product-grid.col-xs-6.col-sm-3
      .product-thumb{"data-sr" => ""}
        %figure
          .image
            %a{:href => "#"}
              %img.img-responsive{:alt => "", :src => "assets/img/image_holder_x263.png", :title => ""}/
          %figcaption
            .name
              %a{:href => "#"} Oversized Shirt
            .price
              $122.00
    .product-grid.col-xs-6.col-sm-3
      .product-thumb{"data-sr" => ""}
        %figure
          .image
            %a{:href => "#"}
              %img.img-responsive{:alt => "", :src => "assets/img/image_holder_x263.png", :title => ""}/
          %figcaption
            .name
              %a{:href => "#"} Oversized Shirt
            .price
              $122.00
    .product-grid.col-xs-6.col-sm-3
      .product-thumb{"data-sr" => ""}
        %figure
          .image
            %a{:href => "#"}
              %img.img-responsive{:alt => "", :src => "assets/img/image_holder_x263.png", :title => ""}/
          %figcaption
            .name
              %a{:href => "#"} Oversized Shirt
            .price
              $122.00
    .product-grid.col-xs-6.col-sm-3
      .product-thumb{"data-sr" => ""}
        %figure
          .image
            %a{:href => "#"}
              %img.img-responsive{:alt => "", :src => "assets/img/image_holder_x263.png", :title => ""}/
          %figcaption
            .name
              %a{:href => "#"} Oversized Shirt
            .price
              $122.00
  .row
    .product-grid.col-xs-12.col-sm-9
      .product-thumb{"data-sr" => ""}
        .image
          %a{:href => "#"}
            %img.img-responsive{:alt => "", :src => "assets/img/image_holder_848x559.png"}/
    .col-xs-12.col-sm-3
      .row
        .product-grid.col-xs-6.col-sm-12
          .product-thumb{"data-sr" => ""}
            %figure
              .image
                %a{:href => "#"}
                  %img.img-responsive{:alt => "", :src => "assets/img/image_holder_x263.png", :title => ""}/
              %figcaption
                .name
                  %a{:href => "#"} Oversized Shirt
                .price
                  $122.00
      .row
        .product-grid.col-xs-6.col-sm-12
          .product-thumb{"data-sr" => ""}
            %figure
              .image
                %a{:href => "#"}
                  %img.img-responsive{:alt => "", :src => "assets/img/image_holder_x263.png", :title => ""}/
              %figcaption
                .name
                  %a{:href => "#"} Oversized Shirt
                .price
                  $122.00
  .row
    .product-grid.col-xs-6.col-sm-3
      .product-thumb{"data-sr" => ""}
        %figure
          .image
            %a{:href => "#"}
              %img.img-responsive{:alt => "", :src => "assets/img/image_holder_x263.png", :title => ""}/
          %figcaption
            .name
              %a{:href => "#"} Oversized Shirt
            .price
              $122.00
    .product-grid.col-xs-6.col-sm-3
      .product-thumb{"data-sr" => ""}
        %figure
          .image
            %a{:href => "#"}
              %img.img-responsive{:alt => "", :src => "assets/img/image_holder_x263.png", :title => ""}/
          %figcaption
            .name
              %a{:href => "#"} Oversized Shirt
            .price
              $122.00
    .product-grid.col-xs-6.col-sm-3
      .product-thumb{"data-sr" => ""}
        %figure
          .image
            %a{:href => "#"}
              %img.img-responsive{:alt => "", :src => "assets/img/image_holder_x263.png", :title => ""}/
          %figcaption
            .name
              %a{:href => "#"} Oversized Shirt
            .price
              $122.00
    .product-grid.col-xs-6.col-sm-3
      .product-thumb{"data-sr" => ""}
        %figure
          .image
            %a{:href => "#"}
              %img.img-responsive{:alt => "", :src => "assets/img/image_holder_x263.png", :title => ""}/
          %figcaption
            .name
              %a{:href => "#"} Oversized Shirt
            .price
              $122.00
