.sidebar{"data-background-color" => "white", "data-color" => "purple", "data-image" => "../assets/img/sidebar-1.jpg"}
  /
    Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

    Tip 2: you can also add an image using data-image tag
  .logo
    =link_to "Home Screen", top_path, class: "simple-text logo-normal"    
  .sidebar-wrapper
    %ul.nav
      %li.nav-item
        %a.nav-link{:href => "./user.html"}
          %i.material-icons person
          %p User Profile
      %li.nav-item.active
        =link_to owner_brands_path, class: "nav-link" do
          %i.material-icons content_paste
          %p Brand List
      %li.nav-item
        =link_to owner_info_sites_path, class: "nav-link" do
          %i.material-icons library_books
          %p InfoSite List
      %li.nav-item
        =link_to new_owner_brand_path, class: "nav-link" do
          %i.material-icons bookmark
          %p Create New Brand
      %li.nav-item
        =link_to new_owner_info_site_path, class: "nav-link" do
          %i.material-icons language
          %p Create New Site
      %li.nav-item
        %a.nav-link{:href => "./map.html"}
          %i.material-icons location_ons
          %p Maps
      %li.nav-item
        %a.nav-link{:href => "./notifications.html"}
          %i.material-icons notifications
          %p Notifications
