%footer
  .container-fluid
    .row
      .col-sm-2
        .btn-group.dropup.info
          %button.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
            %i.icon.ion-ios-information-outline
            %span Information
          %ul.dropdown-menu.pull-right
            %li.dropdown-triangle
            %li
              %a{:href => "#"} About Us
            %li
              %a{:href => "#"} Delivery Information
            %li
              %a{:href => "#"} Privacy Policy
            %li
              %a{:href => "#"} Terms & Conditions
      .col-sm-2
        .btn-group.dropup.service
          %button.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
            %i.icon.ion-ios-people-outline
            %span Customer Service
          %ul.dropdown-menu.pull-right
            %li.dropdown-triangle
            %li
              %a{:href => "#"} Contact Us
            %li
              %a{:href => "#"} Returns
            %li
              %a{:href => "#"} Site Map
      .col-sm-2
        .btn-group.dropup.extra
          %button.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
            %i.icon.ion-ios-flask-outline
            %span Extras
          %ul.dropdown-menu.pull-right
            %li.dropdown-triangle
            %li
              %a{:href => "#"} Brands
            %li
              %a{:href => "#"} Gift Vouchers
            %li
              %a{:href => "#"} Affiliates
            %li
              %a{:href => "#"} Specials
      .col-sm-2
        .btn-group.dropup.user-account
          %button.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
            %i.icon.ion-ios-person-outline
            %span My Account
          %ul.dropdown-menu.pull-right
            %li.dropdown-triangle
            %li
              %a{:href => "#"} My Account
            %li
              %a{:href => "#"} Order History
            %li
              %a{:href => "#"} Wishlist
            %li
              %a{:href => "#"} Newsletter
      .col-sm-2
        .btn-group.dropup.social
          %button.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
            %i.icon.ion-ios-world-outline
            %span Social
          %ul.dropdown-menu.pull-right
            %li.dropdown-triangle
            %li
              %a{:href => "https://www.facebook.com/"} Facebook
            %li
              %a{:href => "https://twitter.com/"} Twitter
            %li
              %a{:href => "https://www.pinterest.com/"} Pinterest
            %li
              %a{:href => "https://plus.google.com/"} Google Plus
            %li
              %a{:href => "https://github.com/"} Github
            %li
              %a{:href => "skype:******?call"} Skype
      .col-sm-2
        .btn-group.dropup.powered
          %button.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
            %i.icon.ion-ios-bolt-outline
            %span Powered
          %ul.dropdown-menu.pull-right
            %li.dropdown-triangle
            %li
              %a{:href => "http://themefiber.com/"} Design by ThemeFiber
            %li
              %a{:href => "http://opencart.com/"} Powered by OpenCart
